@font-face {
   font-family: 'Gotham-medium';
   src: local('gothamrounded-medium'),
     url('../fonts/gothamrounded-medium.woff') format('woff'),
     url('../fonts/gothamrounded-medium.woff2') format('woff2');
};
@font-face {
  font-family: 'Gotham-book';
  src: local('gothamrounded-book'),
    url('../fonts/gothamrounded-book.woff') format('woff'),
    url('../fonts/gothamrounded-book.woff2') format('woff2');
}